/* Archivo CSS, contiene el estilo y distribución de cada elemento en la web.
Autor: mq2e4f
Fecha: 01-11-2017 */

@charset "utf-8";


/*CSS Document*/

*{
    font-family: "SF PRO Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-variant-caps: all-small-caps;
}

body {
    min-width: 1340px;
    
    background-color: #c3d9de;
}

#cajon{
    height: auto
}


header{
    font-family: "Verdana";
    padding-right: 10px;
    height: 100px;
    margin-bottom: 5px;
    background-color: #70a4b1;
    text-align: right;
    padding-top: 5px;
    font-size: 15px; 
    padding-left: 5px;
}

header h1{
    font-family: "Verdana";
    position: absolute;
    font-size: 25px;
    left: 50px;
    letter-spacing: 4px;
}

.nav > li{
    float:left;
}

.nav li a {
    background-color: aliceblue;
    color: black;
    text-decoration:none;
    text-align: center;
    height: 50px;
    display:block;
}
			
.nav li a:hover {
        font-weight: bold;
        text-decoration: none;
        color: {color:links hover};
        padding-right: 0.2em;
        padding-left: 0.2em;
        text-shadow: 1px 1px 1px {color:links shadow};
}

.nav li ul{
    border-top-style: double;
    border-left-style: double;
    border-right-style: double;
    border-color: black;
    box-shadow: -5px -5px #888;
    display:none;
    position:absolute;
    left: 140px;
    height: auto;
    width:130px;
}

.nav li:hover > ul {
    display:block;
}

.nav li ul li{
    position:relative;
}
			
ul, ol{
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

aside{
    display: table-cell;
    background-color: aliceblue;
    width: 20%;
    border-right-color: black;
    border-right-style: solid;
    border-right-width: medium;
    height: 583px;
    position: relative;
    float: left;
    margin-bottom: 5px;
    padding: 5px;
}



article{
    display: table-cell;
    background-color: #c3d9de;
    width: 78%;
    padding: 5px;
    text-align: justify;
    margin-bottom: 5px;
    position: relative;
    float: right;
    font-variant-caps: initial;
}

#lenganddes{
    position: relative;
    height: auto;
    width: auto; 
    padding-right: 5px;
}

#conexion{
    padding-right: 5px;
    font: calibri;
    letter-spacing: 1px;
    font-variant-caps: initial;
    font-size: 14px;
}

.nav li{
    border-bottom-style: double;
    border-bottom-color: black;
}

body, html {
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

footer{
    display: block; 
    text-align: right;
    margin-top: 20px;
    padding-left: 1%;
    height: auto;
    clear: both;
    background-color: darkgray;
}

#formulario{
    position: relative;
    left: 10%;
    width: 80%;
    display: block;
    padding: 20px;
    border-style: double;
    background-color: gainsboro;
        /*#70a4b1;*/
    box-shadow: -5px -5px #888;
    margin-top: 20px;
    
}

#picture{
    float: left;
    padding-left: 5px; padding-right: 5px; 
    margin-top: 5px;
}

article p{
    font-variant-caps: initial;
    font-size: 14px;
}

article p strong, em, a{
    font-variant-caps: initial;
}

#formulario form div + div {
    margin-top: 1em;
}
#formulario label {
    /* Para asegurarse que todos los labels tienen el mismo tamaño y están alineados correctamente */
    display: inline-block;
    width: 150px;
    text-align: left;
    margin-right: 2px;
}
#formulario input, textarea {
    /* Para asegurarse de que todos los campos de texto tienen las mismas propiedades de fuente
       Por defecto, las areas de texto tienen una fuente con monospace */
    font: 1em sans-serif;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    /* Para armonizar el look&feel del borde en los campos de texto */
    border: 1px solid #999;
}

#formulario input:focus, textarea:focus {
    /* Para dar un pequeño destaque en elementos activos*/
    border-color: #000;
}
#formulario .button {
    /* Para posicionar los botones a la misma posición que los campos de texto */
    padding-left: 90px; /* mismo tamaño a todos los elementos label */
}

button {
    border-style: none;
    border-color: transparent;
    background-color: transparent;
    margin-left: .5em;
    cursor: pointer;
}


#notas{
    
    width: 850px;
    position: relative;
    left: 10%;
    display: block;
    padding: 20px;
    border-style: double;
    background-color: gainsboro;
    box-shadow: -5px -5px #888;
    margin-top: 20px;
    
}

#notas th {
    min-height: 70px;
    min-width: 100px;
    font-size: 13px;
    font-variant-caps: normal;
}

#notas tr {
    border-top-color: black;
    border-top-width: 1.5px;
    border-top-style: solid;
    border-bottom-color: black;
    border-bottom-width: 1.5px;
    border-bottom-style: solid; 
    
}


#notas td {
    min-height: 80px;
    min-width: 100px;
    font-size: 13px;
    font-variant-caps: normal;
    padding: 5px;
    
}



#notas table{
    margin-top: 10px;
    height: auto;
    width: 680px;
    padding: 2px;
    margin-left: 60px;
    border-spacing: 1px;
    font-size: 0.8em;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    font-feature-settings: normal;
}



#notasqa{
    
    width: 850px;
    position: relative;
    left: 10%;
    display: block;
    padding: 20px;
    border-style: double;
    background-color: gainsboro;
    box-shadow: -5px -5px #888;
    margin-top: 20px;
    
}

#notasqa th {
    font-size: 13px;
    font-variant-caps: normal;
}

#notasqa tr {
    border-top-color: black;
    border-top-width: 1.5px;
    border-top-style: solid;
    border-bottom-color: black;
    border-bottom-width: 1.5px;
    border-bottom-style: solid; 
    
}


#notasqa td {
    min-width: 55px;
    font-size: 13px;
    font-variant-caps: normal;
    padding: 5px;
    
}



#notasqa table{
    margin-top: 10px;
    height: auto;
    max-width: 680px;
    padding: 2px;
    margin-left: 60px;
    border-spacing: 1px;
    font-size: 0.8em;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    font-feature-settings: normal;
}



#showall{
    
    width: 800px;
    position: relative;
    left: 10%;
    display: block;
    padding: 20px;
    border-style: double;
    background-color: gainsboro;
    box-shadow: -5px -5px #888;
    margin-top: 20px;
    
}


#showall table{
    margin-top: 10px;
    height: auto;
    width: 680px;
    padding: 2px;
    margin-left: 60px;
    border-spacing: 0px;
    font-size: 0.8em;
    border-width: 1px;
    border-style: solid;
    border-color: #333;
}

#showall th{
    height: 30px;
    border-bottom-color: black;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    background-color: #70a4b1;
    text-align: center;
}

#showall td{
    overflow: hidden;
    text-overflow: ellipsis;
    
    height: 20px;
    padding: 5px;
    
    max-width: 109px;
    
    border-style: solid;
    border-width: 1px;
    background-color: azure;
}

#imagsall{
    height: 10px;
    text-align: center;
    padding: 1px;
}

#imgtable{
    text-align: center;
    height: 30px;
    width: auto;
}

#imgtable img{
    padding-right: 30px;
}

#imgtableshow{
    text-align: right;
    height: 50px;
    width: 50px;
}

#imgtabledel img{
    padding-right: 10px;
}

p2{
    margin: 20px;
    padding: 20px;
    font-size: 20px;
}

#delete{
    position: relative;
    left: 20%;
    width: 50%;
    display: block;
    padding: 20px;
    border-style: double;
    background-color: gainsboro;
    box-shadow: -5px -5px #888;
    margin-top: 20px;
}

#delete table{
    margin-left: 20px;
    margin-bottom: -10px;
    margin-top: 20px;
    padding: 2px;
    border-spacing: 0px;
    font-size: 0.8em;
    border-width: 1px;
    border-style: solid;
    border-color: #333;
}

#delete th{
    border-bottom-color: black;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    background-color: #70a4b1;
    text-align: center;
}

#delete td{
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px;
    min-width: 50px;
    max-width: 230px;
    border-style: solid;
    border-width: 1px;
    background-color: azure;
}

#delete #imgtable{
    position: absolute;
    left: 70%;
    bottom: 40%;
    width: 40%;
    text-align: center;
}


#current{
    position: relative;
    left: 20%;
    width: 49%;
    display: block;
    padding: 20px;
    border-style: double;
    background-color: gainsboro;
    box-shadow: -5px -5px #888;
    margin-top: 20px;
}

#current table{
    margin-left: 30px;
    margin-bottom: -10px;
    margin-top: 20px;
    padding: 2px;
    margin: 0px;
    border-spacing: 0px;
    font-size: 0.8em;
    border-width: 1px;
    border-style: solid;
    border-color: #333;
}

#current th{
    border-bottom-color: black;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    background-color: #70a4b1;
    text-align: center;
}

#current td{
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px;
    min-width: 50px;
    max-width: 260px;
    border-style: solid;
    border-width: 1px;
    background-color: azure;
}


#imgtableshw{
    position: absolute;
    left: 72%;
    bottom: 40%;
    width: 40%;
    text-align: center;
}

.error{
    margin-left: 110px;
    color: firebrick;
    font-weight: bold;
}

#loginform{
    position: relative;
    left: 20%;
    width: 400px;
    display: block;
    padding: 20px;
    border-style: double;
    background-color: gainsboro;
    box-shadow: -5px -5px #888;
    margin-top: 20px;   
}

#message{
    position: relative;
    left: 35%;
    text-align: center;
    width: 250px;
    display: block;
    padding: 20px;
    border-style: double;
    background-color: gainsboro;
    box-shadow: -5px -5px #888;
    margin-top: 20px;
    
}

#editar{
    position: relative;
    left: 10%;
    width: 80%;
    display: block;
    padding: 20px;
    border-style: double;
    background-color: gainsboro;
    box-shadow: -5px -5px #888;
    margin-top: 20px;
    
}

#editar form div + div {
    margin-top: 1em;
}

#asignar{
    align-content: center;
    text-align: center;
    border-color: black;
    border-width: thin;
    border-style: solid;
    margin-bottom: 20px;
    
}


input[type=checkbox] {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-right: 20px;
    margin-bottom: 20px;

}

#editar label {
    /* Para asegurarse que todos los labels tienen el mismo tamaño y están alineados correctamente */
    display: inline-block;
    width: 150px;
    text-align: left;
    margin-right: 5px;
}
#editar input, textarea {
    /* Para asegurarse de que todos los campos de texto tienen las mismas propiedades de fuente
       Por defecto, las areas de texto tienen una fuente con monospace */
    font: 1em sans-serif;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    /* Para armonizar el look&feel del borde en los campos de texto */
    border: 1px solid #999;
}

#editar input:focus, textarea:focus {
    /* Para dar un pequeño destaque en elementos activos*/
    border-color: #000;
}
#editar .button {
    /* Para posicionar los botones a la misma posición que los campos de texto */
    padding-left: 90px; /* mismo tamaño a todos los elementos label */
}

#loginform form div + div {
    margin-top: 1em;
    margin-bottom: 1em;
}
#loginform label {
    /* Para asegurarse que todos los labels tienen el mismo tamaño y están alineados correctamente */
    display: inline-block;
    width: 100px;
    text-align: left;
    margin-right: 2px;
}
#loginform input, textarea {
    /* Para asegurarse de que todos los campos de texto tienen las mismas propiedades de fuente
       Por defecto, las areas de texto tienen una fuente con monospace */
    font: 1em sans-serif;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    /* Para armonizar el look&feel del borde en los campos de texto */
    border: 1px solid #999;
}

#loginform input:focus, textarea:focus {
    /* Para dar un pequeño destaque en elementos activos*/
    border-color: #000;
}
#loginform .button {
    /* Para posicionar los botones a la misma posición que los campos de texto */
    padding-left: 90px; /* mismo tamaño a todos los elementos label */
}

#buscar{
    position: relative;
    left: 10%;
    width: 80%;
    display: block;
    padding: 20px;
    border-style: double;
    background-color: darkseagreen;
    box-shadow: -5px -5px #888;
    margin-top: 20px;
    
}

#buscar form div + div {
    margin-top: 1em;
}
#buscar label {
    /* Para asegurarse que todos los labels tienen el mismo tamaño y están alineados correctamente */
    display: inline-block;
    width: 150px;
    text-align: left;
    margin-right: 2px;
}
#buscar input, textarea {
    /* Para asegurarse de que todos los campos de texto tienen las mismas propiedades de fuente
       Por defecto, las areas de texto tienen una fuente con monospace */
    font: 1em sans-serif;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    /* Para armonizar el look&feel del borde en los campos de texto */
    border: 1px solid #999;
}

#buscar input:focus, textarea:focus {
    /* Para dar un pequeño destaque en elementos activos*/
    border-color: #000;
}
#buscar .button {
    /* Para posicionar los botones a la misma posición que los campos de texto */
    padding-left: 90px; /* mismo tamaño a todos los elementos label */
}

#searchform{
    position: relative;
    left: 10%;
    width: 80%;
    display: block;
    padding: 20px;
    border-style: double;
    background-color: gainsboro;
    box-shadow: -5px -5px #888;
    margin-top: 20px;
}

#searchform form div + div {
    margin-top: 1em;
}
#searchform label {
    /* Para asegurarse que todos los labels tienen el mismo tamaño y están alineados correctamente */
    display: inline-block;
    width: 150px;
    text-align: left;
    margin-right: 2px;
}


textarea{
    max-width: 420px;
    max-height: 80px;
    min-width: 420px;
    min-height: 80px;
}


#searchform input, textarea {
    /* Para asegurarse de que todos los campos de texto tienen las mismas propiedades de fuente
       Por defecto, las areas de texto tienen una fuente con monospace */
    font: 1em sans-serif;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    /* Para armonizar el look&feel del borde en los campos de texto */
    border: 1px solid #999;
}

#searchform input:focus, textarea:focus {
    /* Para dar un pequeño destaque en elementos activos*/
    border-color: #000;
}
#searchform .button {
    /* Para posicionar los botones a la misma posición que los campos de texto */
    padding-left: 90px; /* mismo tamaño a todos los elementos label */
}